@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300|Libre+Franklin:100&display=swap');

/* 共通のスタイル */

html {
  font-family: 'Noto Serif JP', serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  letter-spacing: 0.08em;
  color: #292829;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.buttun {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}

.btn {
  display: block;
  width: 200px;
  height: 35px;
  padding-top: 6px;
  color: #292829;
  border: 2px solid #868686;
  -webkit-transition: .5s ease 0s;
  transition: .5s ease 0s;
}

.btn:hover {
  background: #000000;
  color: #ffffff;
}

/* 画面外にいる状態 */
.fadein {
    opacity : 0.1;
    transform : translate(0, 45px);
    transition : all 1000ms;
    }

/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }

/* ヘッター */
.header {
  background: rgb(255, 255, 255, 0.8);
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 99;
}

/*ナビゲージョン */
.main-nav a {
  font-weight: bold;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.main-nav a:hover {
  opacity: .7;
  border-bottom: 4px solid #c7b576;
}

/* トップイメージ*/
.home {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

/*概要 */
.description {
  letter-spacing: 0.1em;
  margin-top: 120px;
  font-size: 18px;
}

.description h2 {
  margin-top: 50px;
}

.feature {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 20px 0 90px 0;
}

.feature p {
  margin: 15px 0 30px 0;
}
.feature a {
  text-align: center;
}

/*詳細 */
.detail {
  background-image: url(../img/å.jpg);
  background-size: cover;
  background-position: center;
}

.wrap p {
  margin-right: 60px;
}

.detail h2 {
  font-size: 18px;
  letter-spacing: 0.1em;
}

.detail span {
  font-size: 30px;
}

/*商品説明 */
.product {
  padding-bottom: 100px;
  background-image: url(../img/bg_beige.png);
}

.introduction h2 {
  font-size: 30px;
  padding: 80px 0 30px 0;
}

.product-item {
  margin-top: 30px;
}

/*ニュース*/
.news {
  background-image: url(../img/bg_beige.png);
}

.announce {
  height: 185px;
  font-size: 25px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.facebook {
  height: 170px;
  margin-top: 2px;
  font-size: 25px;
  background-color: #FFFFFF;
}

/*問合せ */
.contact {
  height: 570px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-bottom: 100px;
}

.contact h2 {
  font-size: 22px;
  margin: 60px 0 60px 0;
}

.contact-container {
  text-align: left;
  font-size: 17px;
  margin-left: 20px;
}

.contact-tell {
  margin-top: 50px;
  font-size: 25px;
  font-family: 'Heebo', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}

/*店舗情報 */
.information {
  margin: 100px 0 100px 0;
}

.information h2 {
  margin-bottom: 50px;
  font-size: 25px;
}

caption {
  text-align: left;
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

table {
  border-spacing: 15px;
  font-size: 18px;
  text-align: left;
}

.information-container {
  background-color: #000000;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.information-container h2 {
  font-size: 18px;
  margin: 18px 0 15px 0;
}

.accessmap {
  height: 260px;
}

.accessmap iframe {
  width: 90%;
  height: 100%;
}

.sns-icon p {
  margin-right: 3px;
}

/*フッター*/
footer {
  font-size: 15px;
  margin: 23px 0 23px 0;
}


/*----モバイル----*/
@media(max-width: 1024px) {

  /* トップイメージ*/
  .home {
    background-image: url(../img/mob_main.jpg);
    background-position: right;
  }

  /*ナビゲージョン */
  .nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }

  .nav a {
    margin-top: 15px;
  }

  .main-nav {
    display: none;
  }

  /*menu*/
  #menu {
    height: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
    z-index: 99;
  }

  /*ハンバーガーmenu*/
  .menu__line {
    background: #000;
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
  }

  .menu__line--center {
    top: 9px;
  }

  .menu__line--bottom {
    bottom: 0;
  }

  /*gnav*/
  .gnav {
    background: #000;
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    padding-top: 50px;
    z-index: 98;
  }

  .gnav__menu__item {
    margin: 10px 0;
  }

  .gnav__menu__item a {
    color: rgb(255, 255, 255, 0.8);
    font-size: 16px;
    margin-left: 40px;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
  }

  .gnav__menu__item a:hover {
    color: #666;
  }

  .wrapper {
    text-align: left;
    margin-top: 100px;
  }

  .gnav a {
    font-size: 20px;
  }

  /* トップイメージ*/
  .home {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }

  /*概要 */
  .description p {
    text-align: left;
    margin-top: 50px;
  }

  .description {
    letter-spacing: 0.1em;
    margin-top: 120px;
    font-size: 18px;
  }

  .feature {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 20px 0 90px 0;
  }

  .feature p {
    margin: 15px 0 30px 0;
  }

  /*詳細 */
  .detail {
    background-image: url(../img/å.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .detail h2 {
    font-size: 18px;
    letter-spacing: 0.1em;
  }

  .detail span {
    font-size: 30px;
  }

  .wrap-secondary{
    display: none;
  }

  .wrap {
    margin-bottom: 120px;
  }

  /*商品説明 */
  .product-item-hide {
    display: none;
  }

  .product-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
  }

  .bottom-nav {
    display: none;
  }

  .sns-icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    margin-top: 10px;
  }
}

/*----PC コンテナー----*/
@media(min-width: 1025px) {

  /*ナビゲージョン */
  .nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    margin-top: 15px;
  }

  .nav {
    margin-left: 60px;
    text-align: center;
  }

  .main-nav a {
    color: #000000;
    font-size: 14px;
    margin-left: 20px;
  }

  .main-nav ul {
    display: -webkit-box;
    display: flex;
  }

.main-nav  li:last-child{
   display: inline-block;

}

  /*グローバルナビゲージョン */
  .gnav__menu {
    display: none;
  }

  .gnav p {
    display: none;
  }

  /* トップイメージ*/
  .home {
    background-image: url(../img/main.jpg);
    background-position: center;
  }

  /*概要 */
  .description p {
    text-align: center;
    margin-top: 50px;
  }

  /*詳細*/
  .detail {
    height: 530px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .wrap h3 {
    text-align: left;
    font-size: 16px;
    margin-top: 70px;
  }

  .wrap {
    width: 540px;
    margin: 0 0 100px 500px;
  }

  /*商品説明 */
  .product-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 50px;
  }

  /*店舗情報 */
  .map-right {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
  }

  .accessmap {
    width: 600px;
  }

  .bottom-nav {
    width: 500px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    align-self: flex-start;
    text-align: left;
    -webkit-box-align: center;
            align-items: center;
    margin: 0;
    font-size: 14px;
  }

  .bottom-nav a {
    color: #fff;
  }

  .bottom-nav ul:last-child {
    margin-bottom: 30px;
  }

  .information-address {
    text-align: left;
  }

  .information-container {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
  }

  .sns-icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    margin-top: 30px;
  }
}
